@import './theme.css';



.root {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: var(--size-height-medium);
    min-width: var(--size-width-medium);
    border-radius: var(--border-radius);
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    transition: background-color 200ms, color 200ms;
    color: var(--color-text);
    background-color: var(--color-primary);
    font-size: var(--font-button-medium);

}

.root:not(.border) {
    border: none;
}


.root:hover {
    background-color: var(--color-primary-hover);
}

.root:active {
    background-color: var(--color-primary-active);
}
